body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-size: $font-sz-16;
  font-weight: 400;
  color: $main-color;
  background-color: $bg-main-color;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

input {
  cursor: pointer;
}
