$main-color: #3c322d;
$accent-pink-color: #f3848c;
$bg-main-color: #e5e2e3;
$white-color: #ffffff;
$black-color: #000000;

$font-w-500: 500;
$font-w-600: 600;

$font-sz-16: 16px;
$font-sz-18: 18px;

$time: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-decktop: 1200px;
