<section class="about-us" id="about-us">
  <div class="container flex-container">
    <div class="about-us__image-wrapper">
      <picture>
        <source
          srcset="
            ./images/images-about/man-baker-desktop.png    1x,
            ./images/images-about/man-baker-desktop@2x.png 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/images-about/man-baker-tablet.png    1x,
            ./images/images-about/man-baker-tablet@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/images-about/man-baker-mobile.png    1x,
            ./images/images-about/man-baker-mobile@2x.png 2x
          "
          media="(max-width: 767px)"
        />
        <img
          class="about-us__image"
          src="./images/images-about/man-baker-mobile.png"
          alt="Процес приготування пончиків"
        />
      </picture>
    </div>
    <div class="about-us__text-wrapper">
      <h2 class="about-us__title">About us</h2>
      <p class="about-us__text">
        Oh My Donut is the shop which adores tasty deserts and spend hours to
        create sophisticated donuts which will save the world!
      </p>
      <p class="about-us__text--indent">
        Eva has been baking since she was six years old and over the last 49
        years, she has created hundreds of cakes for weddings and has baked for
        many celebrities. Eva and our shop have received multiple awards &
        recognition for excellence.
      </p>
      <p class="about-us__text--more is-hidden" data-text-about>
        We are going to teach you how to cook with passion and sparkles in your
        eyes! We love what we do and believe you will enjoy our cooking
        atmosphere!
      </p>
      <button class="about-us__button" type="button" data-open-button-about>
        Read more
      </button>
      <button
        class="about-us__button--close is-hidden"
        type="button"
        data-close-button-about
      >
        Less
      </button>
    </div>
  </div>
</section>
