<section class="contact">
          <h2 class="contact__title">Contact</h2>
          <h3 class="contact__text">We will answer any question!</h3>
          <form class="registration-form">
          <label for="email"></label>
            <input class="contact-form__input" type="name" name="mail" placeholder="Email" />
            <label for="text"></label>
            <input class="registration-form__input" type="phone" name="phone" placeholder="Type your question" />
            <button class="button" type="submit">Send</button>
            </form>
            </section>