<section class="contact">
  <div class="container">
    <h2 class="contact__title">Contact</h2>
    <h3 class="contact__sub-title">We will answer any question!</h3>
    <form class="contact-form">
      <label class="contact-form__label">
        <input
          class="contact-form__input"
          type="name"
          name="mail"
          placeholder="Email"
        />
      </label>

      <label class="contact-form__label">
        <input
          class="contact-form__input"
          type="phone"
          name="phone"
          placeholder="Type your question"
        />
      </label>
      <button class="button contact-button" type="submit">Send</button>
    </form>
  </div>
</section>
