<section class="contact">
  <div class="contact__container">
    <h2 class="contact__title">Contact</h2>
    <h3 class="contact__sub-title">We will answer any question!</h3>
    <form class="contact-form">
      <label class="contact-form__label">
        <input
          class="contact-form__input"
          type="name"
          name="mail"
          placeholder="Email"
        />
      </label>

      <label class="contact-form__label">
        <input
          class="contact-form__input"
          type="phone"
          name="phone"
          placeholder="Type your question"
        />
      </label>
      <button class="button contact-button" type="submit">Send</button>
    </form>
    <ul class="socials">
      <li class="socials__item">
        <a class="socials__link" href="#">
          <svg class="socials__icon" width="16" height="12">
            <use href="/src/images/icons.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
      <li class="socials__item">
        <a class="socials__link" href="#">
          <svg class="socials__icon" width="16" height="12">
            <use href="/src/images/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="socials__item">
        <a class="socials__link" href="#">
          <svg class="socials__icon" width="16" height="12">
            <use href="/src/images/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
