<footer class="footer">
  <div class="container">
    <ul class="socials">
      <li class="socials__item">
        <a class="socials__link" href="#">
          <svg class="socials__icon" width="16" height="12">
            <use href="/src/images/icons.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
      <li class="socials__item">
        <a class="socials__link" href="#">
          <svg class="socials__icon" width="16" height="12">
            <use href="/src/images/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="socials__item">
        <a class="socials__link" href="#">
          <svg class="socials__icon" width="16" height="12">
            <use href="/src/images/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
    <ul class="footer-list">
      <li>
        <svg class="footer__icon" width="16" height="12">
          <use href="/src/images/icons.svg#icon-phone"></use>
        </svg>
        <a href="tel:+9102228855" class="footer__contact-link">(910)222-8855</a>
      </li>
      <li>
        <svg class="footer__icon" width="16" height="12">
          <use href="/src/images/icons.svg#icon-location"></use>
        </svg>
        <a
          href="https://goo.gl/maps/UQ86ePurn2xUZn3HA"
          class="footer__contact-link"
          >New York</a
        >
      </li>
    </ul>
  </div>
</section>
