<section class="footer">
  <ul class="footer-list">
    <li>
      <a href="tel:+9102228855" class="footer__contact-link">(910)222-8855</a>
      <svg class="socials__icon" width="16" height="12">
        <use href="/src/images/icons.svg#icon-facebook"></use>
      </svg>
    </li>
    <li>
      <a
        href="https://goo.gl/maps/UQ86ePurn2xUZn3HA"
        class="footer__contact-link"
        >New York</a
      >
      <svg class="socials__icon" width="16" height="12">
        <use href="/src/images/icons.svg#icon-facebook"></use>
      </svg>
    </li>
  </ul>
</section>
