<section class="footer">
  <ul class="footer-list">
    <li>
      <svg class="footer__icon" width="16" height="12">
        <use href="/src/images/icons.svg#icon-phone"></use>
      </svg>
      <a href="tel:+9102228855" class="footer__contact-link">(910)222-8855</a>
    </li>
    <li>
      <svg class="footer__icon" width="16" height="12">
        <use href="/src/images/icons.svg#icon-location"></use>
      </svg>
      <a
        href="https://goo.gl/maps/UQ86ePurn2xUZn3HA"
        class="footer__contact-link"
        >New York</a
      >
    </li>
  </ul>
  <picture>
    <source
      srcset="
        ./images/registration-img/colorful-and-tasty-desk1x.png  1x,
        ./images/registration-img/colorful-and-tasty-desk@2x.png 2x
      "
      media="(min-width: 1200px)"
    />
    <source
      srcset="
        ./images/registration-img/colorful-and-tasty-tab1x.png  1x,
        ./images/registration-img/colorful-and-tasty-tab@2x.png 2x
      "
      media="(min-width: 768px)"
    />

    <source
      srcset="
        ./images/registration-img/colorful-and-tasty-mob1x.png  1x,
        ./images/registration-img/colorful-and-tasty-mob@2x.png 2x
      "
      media="(max-width: 767px)"
    />

    <img
      class="footer-photo"
      srcset="
        ./images/registration-img/colorful-and-tasty-mob1x.png  1x,
        ./images/registration-img/colorful-and-tasty-mob@2x.png 2x
      "
      src="/src/images/registration-img/topping-on-strawberry-mobile.jpg"
      alt="Бублик"
    />
  </picture>
</section>
