<section class="section">
    <div class="container">
        <h2 class="section__title">Price</h2>
        <ul class="card">
            <li class="card__item">
                <h3 class="card__title">Easy start</h3>
                <ul class="card-list">
                    <li class="card-list__item">
                      <!-- <svg class="card-list__icon" width="24px" height="24px">
                        <use href="./images/icons.svg#icon-hat" ></use>
                      </svg> -->
                      <P>features of yeast dough preparation</P>  
                    </li>
                    <li class="card-list__item">
                      <!-- <svg class="card-list__icon" width="24px" height="24px">
                        <use href="./images/icons.svg#icon-hat" ></use>
                      </svg> -->
                      <p>preparation of liquid caramel for stuffing</p>  
                    </li>
                    <li class="card-list__item">
                      <!-- <svg class="card-list__icon" width="24px" height="24px">
                        <use href="./images/icons.svg#icon-hat" ></use>
                      </svg> -->
                      <p>preparation of raspberry and strawberry filling</p>  
                    </li>     
                    <li class="card-list__item">
                      <!-- <svg class="card-list__icon" width="24px" height="24px">
                        <use href="./images/icons.svg#icon-hat" ></use>
                      </svg> -->
                      <p>fry and glaze donuts</p>  
                    </li>                                                       
                </ul>
              <a class="button" href="#">Register</a>
            </li>
            <li class="card__item">
                <h3 class="card__title">I want delicious donuts</h3>
                <ul class="card-list">
                    <li class="card-list__item">
                      <!-- <svg class="card-list__icon" width="24px" height="24px">
                        <use href="./images/icons.svg#icon-hat" ></use>
                      </svg> -->
                      <P>features of yeast dough preparation</P>                      
                    </li>
                    <li class="card-list__item">
                      <!-- <svg class="card-list__icon" width="24px" height="24px">
                        <use href="./images/icons.svg#icon-hat" ></use>
                      </svg> -->
                      <P>preparation of liquid caramel for stuffing</P>                      
                    </li>
                    <li class="card-list__item">
                      <!-- <svg class="card-list__icon" width="24px" height="24px">
                        <use href="./images/icons.svg#icon-hat" ></use>
                      </svg> -->
                      <P>preparation of raspberry and strawberry filling</P>                      
                    </li>
                    <li class="card-list__item">
                      <!-- <svg class="card-list__icon" width="24px" height="24px">
                        <use href="./images/icons.svg#icon-hat" ></use>
                      </svg> -->
                      <P>melt chocolate for decoration</P>                      
                    </li>
                    <li class="card-list__item">
                      <!-- <svg class="card-list__icon" width="24px" height="24px">
                        <use href="./images/icons.svg#icon-hat" ></use>
                      </svg> -->
                      <P>fry and glaze donuts</P>                      
                    </li>
                    <li class="card-list__item">
                      <!-- <svg class="card-list__icon" width="24px" height="24px">
                        <use href="./images/icons.svg#icon-hat" ></use>
                      </svg> -->
                      <P>donut decoration. painting and various techniques</P>                      
                    </li>
                </ul>
              <a class="button" href="#">Register</a>                
            </li>
            <li class="card__item">
              <h3 class="card__title">Premium</h3>
              <ul class="card-list">
                 <li class="card-list__item">
                      <!-- <svg class="card-list__icon" width="24px" height="24px">
                        <use href="./images/icons.svg#icon-hat" ></use>
                      </svg>                   -->
                  <p>features of yeast dough preparation</p>
                 </li>
                  <li class="card-list__item">
                      <!-- <svg class="card-list__icon" width="24px" height="24px">
                        <use href="./images/icons.svg#icon-hat" ></use>
                      </svg>                     -->
                    <p>preparation of liquid caramel for stuffing</p>
                  </li>
                  <li class="card-list__item">
                      <!-- <svg class="card-list__icon" width="24px" height="24px">
                        <use href="./images/icons.svg#icon-hat" ></use>
                      </svg>                     -->
                    <p>preparation of raspberry and strawberry filling</p>
                  </li>
                  <li class="card-list__item">
                      <!-- <svg class="card-list__icon" width="24px" height="24px">
                        <use href="./images/icons.svg#icon-hat" ></use>
                      </svg>                     -->
                    <p>melt chocolate for decoration</p>
                  </li>
                  <li class="card-list__item">
                      <!-- <svg class="card-list__icon" width="24px" height="24px">
                        <use href="./images/icons.svg#icon-hat" ></use>
                      </svg>                     -->
                    <p>fry and glaze donuts</p>
                  </li>
                  <li class="card-list__item">
                      <!-- <svg class="card-list__icon" width="24px" height="24px">
                        <use href="./images/icons.svg#icon-hat" ></use>
                      </svg>                     -->
                    <p>donut decoration. painting and various techniques</p>
                  </li>
                  <li class="card-list__item">
                      <!-- <svg class="card-list__icon" width="24px" height="24px">
                        <use href="./images/icons.svg#icon-hat" ></use>
                      </svg>                     -->
                    <p>After party and donut tasting with speakers</p>
                  </li>
                  <li class="card-list__item">
                      <!-- <svg class="card-list__icon" width="24px" height="24px">
                        <use href="./images/icons.svg#icon-hat" ></use>
                      </svg>                     -->
                    <p>2 private lessons with one of the speakers</p>
                  </li>                  
              </ul>
              <a class="button" href="#">Register</a>              
            </li>
        </ul>
    </div>
</section>