<section class="registration">
  <h2 class="registration__title">Registration</h2>
  <time datetime="2022-05-23">May 23, 11:00 New York</time>

  <p>Apply your personal info for registration</p>

  <form class="registration-form">
    <label for="name"></label>
    <input
      class="registration-form__input"
      type="name"
      name="mail"
      placeholder="Your name"
    />
    <label for="mail"></label>
    <input
      class="registration-form__input"
      type="phone"
      name="phone"
      placeholder="Phone number"
    />
    <label for="mail"></label>
    <input
      class="registration-form__input"
      type="email"
      name="mail"
      placeholder="Email"
    />
    <button class="button" type="submit">Register</button>
  </form>
</section>
