<section class="registration">
  <div class="container">
    <h2 class="registration__title">Registration</h2>
    <div class="registration-container">
      <!-- <picture>
        <source
          srcset="
            ./images/registration-img/topping-on-strawberry-desk1x.png  1x,
            ./images/registration-img/topping-on-strawberry-desk@2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/registration-img/topping-on-strawberry-mob1x.png  1x,
            ./images/registration-img/topping-on-strawberry-mob@2x.png 2x
          "
          media="(max-width: 1199px)"
        />
        <img
          src="./images/registration-img/topping-on-strawberry-mob@2x.png"
          alt="Logo"
          width="280"
          height="394"
        />
      </picture> -->
      <time class="registration-container__data" datetime="2022-05-23"
        >May 23, 11:00 New York</time
      >

      <form class="registration-form">
        <p class="registration-container__text">
          Apply your personal info for registration
        </p>
        <label for="name"></label>
        <input
          class="registration-form__input"
          type="name"
          name="mail"
          placeholder="Your name"
        />
        <label for="mail"></label>
        <input
          class="registration-form__input"
          type="phone"
          name="phone"
          placeholder="Phone number"
        />
        <label for="mail"></label>
        <input
          class="registration-form__input"
          type="email"
          name="mail"
          placeholder="Email"
        />
      </form>
      <button class="button registration-form__button" type="submit">
        Register
      </button>
    </div>
  </div>
</section>
