<section class="registration" id="registration">
  <div class="container">
    <h2 class="registration__title">Registration</h2>
    <div class="registration-container">
      <time class="registration-container__data" datetime="2022-05-23"
        >May 23, 11:00 <br />
        New York</time
      >

      <form class="registration-form">
        <p class="registration-container__text">
          Apply your personal info for registration
        </p>
        <label>
          <input
            class="registration-form__input"
            type="text"
            name="name"
            placeholder="Your name"
            required
            minlength="2"
            pattern="[a-zA-Z]+"
            title="Use only letters. Minimum 2 characters"
          />
        </label>
        <label>
          <input
            class="registration-form__input"
            type="tel"
            name="phone"
            placeholder="Phone number"
            required
            pattern="[0-9]{9}"
            title="Use 9 numbers"
          />
        </label>
        <label>
          <input
            class="registration-form__input"
            type="email"
            name="mail"
            placeholder="Email"
            required
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
            title="Use @ Use .com"
          />
        </label>
      </form>
      <button class="button registration-form__button" type="submit">
        Register
      </button>
    </div>
  </div>
</section>
