<section class="reviews">
  <div class="container reviews__container">
    <h2 class="reviews__title">Reviews</h2>
    <div class="wrapper">
      <div class="slider">
        <div class="slider__item">
          <img
            class="slider__img"
            src="./images/reviews-img/john.jpg"
            alt="john"
          />
          <p class="slider__name">John</p>
          <p class="slider__text">
            Last time I have visited a cooking course by Eva I was impressed
            with the way she explained everything to people.
          </p>
        </div>
        <div class="slider__item">
          <img
            class="slider__img"
            src="./images/reviews-img/will.jpg"
            alt="will"
          />
          <p class="slider__name">Will</p>
          <p class="slider__text">
            Last time I have visited a cooking course by Eva I was impressed
            with the way she explained everything to people.
          </p>
        </div>
        <div class="slider__item">
          <img
            class="slider__img"
            src="./images/reviews-img/elizbeth.jpg"
            alt="elizbeth"
          />
          <p class="slider__name">Elizbeth</p>
          <p class="slider__text">
            Last time I have visited a cooking course by Eva I was impressed
            with the way she explained everything to people.
          </p>
        </div>
        <!-- <div class="slider__item">
      <img
        class="slider__img"
        width="285"
        height="285"
        src="./images/reviews-img/beth.jpg"
        alt="beth"
      />
      <p>Beth</p>
      <p>
        Last time I have visited a cooking course by Eva I was impressed with
        the way she explained everything to people.
      </p>
    </div> -->
        <!-- <div class="slider__item">
      <img
        class="slider__img"
        width="285"
        height="285"
        src="./images/reviews-img/bob.jpg"
        alt="bob"
      />
      <p>Bob</p>
      <p>
        Last time I have visited a cooking course by Eva I was impressed with
        the way she explained everything to people.
      </p>
    </div>
    <div class="slider__item">
      <img
        class="slider__img"
        width="285"
        height="285"
        src="./images/reviews-img/ella.jpg"
        alt="ella"
      />
      <p>Ella</p>
      <p>
        Last time I have visited a cooking course by Eva I was impressed with
        the way she explained everything to people.
      </p>
    </div> -->
        <div class="slider__item">
          <img
            class="slider__img"
            src="./images/reviews-img/eva.jpg"
            alt="eva"
          />
          <p class="slider__name">Eva</p>
          <p class="slider__text">
            Last time I have visited a cooking course by Eva I was impressed
            with the way she explained everything to people.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
