<section class="reviews" id="reviews">
  <div class="container reviews__container">
    <h2 class="reviews__title">Reviews</h2>
    <div class="wrapper">
      <div class="slider" style="display: inline-flex">
        <div class="slider__item">
          <picture>
            <source
              srcset="
                ./images/reviews-img/Steve-and-Grace-desk1-min.jpg 1x,
                ./images/reviews-img/Steve-and-Grace-desk2-min.jpg 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ./images/reviews-img/Steve-and-Grace-tab1-min.jpg 1x,
                ./images/reviews-img/Steve-and-Grace-tab2-min.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/reviews-img/Steve-and-Grace-mob1-min.jpg 1x,
                ./images/reviews-img/Steve-and-Grace-mob2-min.jpg 2x
              "
              media="(max-width:767px)"
            />

            <img
              class="slider__img"
              src="./images/reviews-img/Steve-and-Grace-mob2-min.jpg"
              alt="Steve ang Grace"
              width="280"
            />
          </picture>
          <p class="slider__name slider__name--star">Steve ang Grace</p>
          <article class="slider__text">
            <h2 class="is-hidden">Reviews</h2>
            This is the best master class we attended, and we have been to many
            culinary master classes. The daughter now wants to become a baker.
            Now we will be fat.
          </article>
        </div>
        <div class="slider__item">
          <picture>
            <source
              srcset="
                ./images/reviews-img/vitaliy-desk1-min.jpg 1x,
                ./images/reviews-img/vitaliy-desk2-min.jpg 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ./images/reviews-img/vitaliy-tab1-min.jpg 1x,
                ./images/reviews-img/vitaliy-tab2-min.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/reviews-img/vitaliy-mob1-min.jpg 1x,
                ./images/reviews-img/vitaliy-mob2-min.jpg 2x
              "
              media="(max-width:767px)"
            />

            <img
              class="slider__img"
              src="./images/reviews-img/vitaliy-mob2-min.jpg"
              alt="Vitaliy"
              width="280"
            />
          </picture>
          <p class="slider__name">Vitaliy</p>
          <article class="slider__text">
            <h2 class="is-hidden">Reviews</h2>
            Last time I have visited a cooking course by Eva I was impressed
            with the way she explained everything to people. You can be sure you
            will manage to cook a delicious dish even if it is your first time
            in the kitchen! Thank you so much for the masterclass! Looking
            forward to the next one and highly recommend it to everyone!
          </article>
        </div>
        <div class="slider__item">
          <picture>
            <source
              srcset="
                ./images/reviews-img/Jannet-desk1-min.jpg 1x,
                ./images/reviews-img/Jannet-desk2-min.jpg 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ./images/reviews-img/Jannet-tab1-min.jpg 1x,
                ./images/reviews-img/Jannet-tab2-min.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/reviews-img/Jannet-mob1-min.jpg 1x,
                ./images/reviews-img/Jannet-mob2-min.jpg 2x
              "
              media="(max-width:767px)"
            />

            <img
              class="slider__img"
              src="./images/reviews-img/Jannet-mob2-min.jpg"
              alt="elizbeth"
              width="280"
            />
          </picture>
          <p class="slider__name">Elizbeth</p>
          <article class="slider__text">
            <h2 class="is-hidden">Reviews</h2>
            Great master class! I will definitely come again.
          </article>
        </div>
        <div class="slider__item">
          <picture>
            <source
              srcset="
                ./images/reviews-img/Kateryna-desk1-min.jpg 1x,
                ./images/reviews-img/Kateryna-desk2-min.jpg 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ./images/reviews-img/Kateryna-tab1-min.jpg 1x,
                ./images/reviews-img/Kateryna-tab2-min.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/reviews-img/Kateryna-mob1-min.jpg 1x,
                ./images/reviews-img/Kateryna-mob2-min.jpg 2x
              "
              media="(max-width:767px)"
            />

            <img
              class="slider__img"
              src="./images/reviews-img/Kateryna-mob2-min.jpg"
              alt="eva"
              width="280"
            />
          </picture>
          <p class="slider__name">Kateryna</p>
          <article class="slider__text">
            <h2 class="is-hidden">Reviews</h2>
            My daughter loves donuts and finally, thanks to these workshops, we
            can make them at home from now on.
          </article>
        </div>
        <div class="slider__item">
          <picture>
            <source
              srcset="
                ./images/reviews-img/borys-desk1-min.jpg 1x,
                ./images/reviews-img/borys-desk2-min.jpg 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ./images/reviews-img/borys-tab1-min.jpg 1x,
                ./images/reviews-img/borys-tab2-min.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/reviews-img/borys-mob1-min.jpg 1x,
                ./images/reviews-img/borys-mob2-min.jpg 2x
              "
              media="(max-width:767px)"
            />

            <img
              class="slider__img"
              src="./images/reviews-img/borys-mob2-min.jpg"
              alt="borys"
              width="280"
            />
          </picture>
          <p class="slider__name">Borys</p>
          <article class="slider__text">
            <h2 class="is-hidden">Reviews</h2>
            My wife and children are delighted! This is not the first time we
            come here and we are always happy here.
          </article>
        </div>
        <div class="slider__item">
          <picture>
            <source
              srcset="
                ./images/reviews-img/Clara-desk1-min.jpg 1x,
                ./images/reviews-img/Clara-desk2-min.jpg 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ./images/reviews-img/Clara-tab1-min.jpg 1x,
                ./images/reviews-img/Clara-tab2-min.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/reviews-img/Clara-mob1-min.jpg 1x,
                ./images/reviews-img/Clara-mob2-min.jpg 2x
              "
              media="(max-width:767px)"
            />

            <img
              class="slider__img"
              src="./images/reviews-img/Clara-mob2-min.jpg"
              alt="clara"
              width="280"
            />
          </picture>
          <p class="slider__name">Clara</p>
          <article class="slider__text">
            <h2 class="is-hidden">Reviews</h2>
            We ordered a master class for the employees of our company. Everyone
            returned home with donuts and now they plan to come with their
            families.
          </article>
        </div>
        <div class="slider__item">
          <picture>
            <source
              srcset="
                ./images/reviews-img/Katya-desk1-min.jpg 1x,
                ./images/reviews-img/Katya-desk2-min.jpg 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ./images/reviews-img/Katya-tab1-min.jpg 1x,
                ./images/reviews-img/Katya-tab2-min.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/reviews-img/Katya-mob1-min.jpg 1x,
                ./images/reviews-img/Katya-mob2-min.jpg 2x
              "
              media="(max-width:767px)"
            />

            <img
              class="slider__img"
              src="./images/reviews-img/Katya-mob2-min.jpg"
              alt="kateryna"
              width="280"
            />
          </picture>
          <p class="slider__name slider__name--star">Katya</p>
          <article class="slider__text">
            <h2 class="is-hidden">Reviews</h2>
            I'm so tired of writing this code and I really want to sleep.
          </article>
        </div>
        <div class="slider__item">
          <picture>
            <source
              srcset="
                ./images/reviews-img/Oleksiy-desk1-min.jpg 1x,
                ./images/reviews-img/Oleksiy-desk2-min.jpg 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ./images/reviews-img/Oleksiy-tab1-min.jpg 1x,
                ./images/reviews-img/Oleksiy-tab2-min.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/reviews-img/Oleksiy-mob1-min.jpg 1x,
                ./images/reviews-img/Oleksiy-mob2-min.jpg 2x
              "
              media="(max-width:767px)"
            />

            <img
              class="slider__img"
              src="./images/reviews-img/Oleksiy-mob2-min.jpg"
              alt="oleksiy"
              width="280"
            />
          </picture>
          <p class="slider__name slider__name--star">Oleksiy</p>
          <article class="slider__text">
            <h2 class="is-hidden">Reviews</h2>
            I went to Eva's master class with my wife. From now on, we can make
            donuts ourselves at home! There is one minus - we have softened.
          </article>
        </div>
        <div class="slider__item">
          <picture>
            <source
              srcset="
                ./images/reviews-img/paul-desk1-min.jpg 1x,
                ./images/reviews-img/paul-desk2-min.jpg 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ./images/reviews-img/paul-tab1-min.jpg 1x,
                ./images/reviews-img/paul-tab2-min.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/reviews-img/paul-mob1-min.jpg 1x,
                ./images/reviews-img/paul-mob2-min.jpg 2x
              "
              media="(max-width:767px)"
            />

            <img
              class="slider__img"
              src="./images/reviews-img/paul-mob2-min.jpg"
              alt="Paul"
              width="280"
            />
          </picture>
          <p class="slider__name">Paul</p>
          <article class="slider__text">
            <h2 class="is-hidden">Reviews</h2>
            Went with a friend and met your wonderful team. Eva, I'm waiting for
            you on a date.
          </article>
        </div>
      </div>
    </div>
    <span class="pagingInfo"></span>
  </div>
</section>
