<section class="container section__bcgc">
  <div class="slider">
    <div class="slider__item">
      <img
        class="slider__img"
        width="285"
        height="285"
        src="./images/reviews-img/john.jpg"
        alt="john"
      />
      <p>John</p>
      <p>
        Last time I have visited a cooking course by Eva I was impressed with
        the way she explained everything to people.
      </p>
    </div>
    <div class="slider__item">
      <img
        class="slider__img"
        width="285"
        height="285"
        src="./images/reviews-img/will.jpg"
        alt="will"
      />
      <p>Will</p>
      <p>
        Last time I have visited a cooking course by Eva I was impressed with
        the way she explained everything to people.
      </p>
    </div>
    <div class="slider__item">
      <img
        class="slider__img"
        width="285"
        height="285"
        src="./images/reviews-img/elizbeth.jpg"
        alt="john"
      />
      <p>
        Last time I have visited a cooking course by Eva I was impressed with
        the way she explained everything to people.
      </p>
    </div>
    <div class="slider__item">
      <img
        class="slider__img"
        width="285"
        height="285"
        src="./images/reviews-img/john.jpg"
        alt="john"
      />
      <p>
        Last time I have visited a cooking course by Eva I was impressed with
        the way she explained everything to people.
      </p>
    </div>
    <div class="slider__item">
      <img
        class="slider__img"
        width="285"
        height="285"
        src="./images/reviews-img/john.jpg"
        alt="john"
      />
      <p>
        Last time I have visited a cooking course by Eva I was impressed with
        the way she explained everything to people.
      </p>
    </div>
  </div>
</section>
