<ul class="socials">
  <li class="socials__item">
    <a class="socials__link" href="#">
      <svg width="16" height="16">
        <use href="./images/icons.svg#icon-twitter"></use>
      </svg>
    </a>
  </li>
  <li class="socials__item">
    <a class="socials__link" href="#">
      <svg width="16" height="16">
        <use href="./images/icons.svg#icon-instagram"></use>
      </svg>
    </a>
  </li>
  <li class="socials__item">
    <a class="socials__link" href="#">
      <svg width="16" height="16">
        <use href="./images/icons.svg#icon-facebook"></use>
      </svg>
    </a>
  </li>
</ul>
