<section class="section section--ring-position" id="speakers">
  <div class="container">
    <h2 class="speakers-section__title">Speakers</h2>
    <ul class="speakers-list">
      <li class="speakers-list__item">
        <img
          srcset="
            ./images/speakers-images/past.png 1x,
            ./images/speakers-images/past.png 2x
          "
          class="speakers-list__image"
          src="./images/speakers-images/past.png"
          alt="photo Molly Rivera"
        />

        <h3 class="speakers-list__title">Molly Rivera</h3>
        <p class="speakers-list__text">
          Pastry chef, master chocolatier of Spain
        </p>
      </li>
      <li class="speakers-list__item">
        <img
          srcset="
            ./images/speakers-images/chef.png   1x,
            ./images/speakers-images/chef2x.png 2x
          "
          class="speakers-list__image"
          src="./images/speakers-images/chef.png"
          alt="photo Sophia Clark"
        />

        <h3 class="speakers-list__title">Sophia Clark</h3>
        <p class="speakers-list__text">Сulinary school pastry chef</p>
      </li>
      <li class="speakers-list__item">
        <img
          srcset="
            ./images/speakers-images/cons.png   1x,
            ./images/speakers-images/cons2x.png 2x
          "
          class="speakers-list__image"
          src="./images/speakers-images/cons.png"
          alt="photo Isabella Taylor"
        />

        <h3 class="speakers-list__title">Isabella Taylor</h3>
        <p class="speakers-list__text">
          Сonsultant in the art of confectionery
        </p>
      </li>
      <li class="speakers-list__item">
        <img
          srcset="
            ./images/speakers-images/choc.png   1x,
            ./images/speakers-images/choc2x.png 2x
          "
          class="speakers-list__image"
          src="./images/speakers-images/choc.png"
          alt="photo Evelyn Miller"
        />

        <h3 class="speakers-list__title">Evelyn Miller</h3>
        <p class="speakers-list__text">Master- chocolatier in Spain</p>
      </li>
    </ul>
  </div>
</section>
