<section class="section">
  <div class="container">
    <h2 class="section__title">Speakers</h2>
    <ul class="speakers-list">
      <li class="speakers-list__item">
        <div class="speakers-list__image-background">
          <img
            class="speakers-list__image"
            src="/images/pastry-chef.png"
            alt="photo Molly Rivera"
          />
        </div>
        <h3 class="speakers-list__title">Molly Rivera</h3>
        <p class="speakers-list__text">
          Pastry chef, master chocolatier of Spain
        </p>
      </li>
      <li class="speakers-list__item">
        <div class="speakers-list__image-background">
          <img
            class="speakers-list__image"
            src="/images/culinary-chef.png"
            alt="photo Sophia Clark"
          />
        </div>
        <h3 class="speakers-list__title">Sophia Clark</h3>
        <p class="speakers-list__text">Сulinary school pastry chef</p>
      </li>
      <li class="speakers-list__item">
        <div class="speakers-list__image-background">
          <img
            class="speakers-list__image"
            src="/images/consultant.png"
            alt="photo Isabella Taylor"
          />
        </div>
        <h3 class="speakers-list__title">Isabella Taylor</h3>
        <p class="speakers-list__text">
          Сonsultant in the art of confectionery
        </p>
      </li>
      <li class="speakers-list__item">
        <div class="speakers-list__image-background">
          <img
            class="speakers-list__image"
            src="/images/chocolatier.png"
            alt="photo Evelyn Miller"
          />
        </div>
        <h3 class="speakers-list__title">Evelyn Miller</h3>
        <p class="speakers-list__text">Master- chocolatier in Spain</p>
      </li>
    </ul>
  </div>
</section>
