<section class="section section--ring-position" id="speakers">
  <div class="container">
    <h2 class="speakers-section__title">Speakers</h2>
    <ul class="speakers-list">
      <li
        class="speakers-list__item speakers-list__image--second-ring-position"
      >
      <picture>
        <source
          srcset="
            ./images/speakers-images/webp/past-desktop.webp 1x,
            ./images/speakers-images/webp/past-desktop2x.webp 2x
          "
          media="(min-width: 1280px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/speakers-images/past-desktop.png 1x,
            ./images/speakers-images/past-desktop2x.png 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/speakers-images/webp/past-tablet.webp 1x,
            ./images/speakers-images/webp/past-tablet2x.webp 2x
          "
          media="(min-width: 768px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/speakers-images/past-tablet.png 1x,
            ./images/speakers-images/past-tablet2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/speakers-images/webp/past-mobile.webp 1x,
            ./images/speakers-images/webp/past-mobile2x.webp 2x
          "
          media="(max-width: 767px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/speakers-images/past-mobile.png 1x,
            ./images/speakers-images/past-mobile2x.png 2x
          "
          media="(max-width: 767px)"
        />
        <img
          class="speakers-list__image"
          src="./images/speakers-images/past-mobile.png"
          alt="photo Molly Rivera"
        />
      </picture>

        <h3 class="speakers-list__title">Molly Rivera</h3>
        <p class="speakers-list__text">
          Pastry chef, master chocolatier of Spain
        </p>
      </li>
      <li
        class="speakers-list__item speakers-list__image--fourth-ring-position"
      >
      <picture>
        <source
          srcset="
            ./images/speakers-images/webp/chef-desktop.webp 1x,
            ./images/speakers-images/webp/chef-desktop2x.webp 2x
          "
          media="(min-width: 1280px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/speakers-images/chef-desktop.png 1x,
            ./images/speakers-images/chef-desktop2x.png 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/speakers-images/webp/chef-tablet.webp 1x,
            ./images/speakers-images/webp/chef-tablet2x.webp 2x
          "
          media="(min-width: 768px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/speakers-images/chef-tablet.png 1x,
            ./images/speakers-images/chef-tablet2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/speakers-images/webp/chef-mobile.webp 1x,
            ./images/speakers-images/webp/chef-mobile2x.webp 2x
          "
          media="(max-width: 767px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/speakers-images/chef-mobile.png 1x,
            ./images/speakers-images/chef-mobile2x.png 2x
          "
          media="(max-width: 767px)"
        />
        <img
          class="speakers-list__image"
          src="./images/speakers-images/chef-mobile.png"
          alt="photo Sophia Clark"
        />
      </picture>
        <h3 class="speakers-list__title">Sophia Clark</h3>
        <p class="speakers-list__text">Сulinary school pastry chef</p>
      </li>
      <li class="speakers-list__item speakers-list__image--third-ring-position">
        <picture>
          <source
            srcset="
              ./images/speakers-images/webp/cons-desktop.webp 1x,
              ./images/speakers-images/webp/cons-desktop2x.webp 2x
            "
            media="(min-width: 1280px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/speakers-images/cons-desktop.png 1x,
              ./images/speakers-images/cons-desktop2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/speakers-images/webp/cons-tablet.webp 1x,
              ./images/speakers-images/webp/cons-tablet2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/speakers-images/cons-tablet.png 1x,
              ./images/speakers-images/cons-tablet2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/speakers-images/webp/cons-mobile.webp 1x,
              ./images/speakers-images/webp/cons-mobile2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/speakers-images/cons-mobile.png 1x,
              ./images/speakers-images/cons-mobile2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="speakers-list__image"
            src="./images/speakers-images/cons-mobile.png"
            alt="photo Isabella Taylor"
          />
        </picture>
        <h3 class="speakers-list__title">Isabella Taylor</h3>
        <p class="speakers-list__text">
          Сonsultant in the art of confectionery
        </p>
      </li>
      <li class="speakers-list__item speakers-list__image--ring-position">
        <picture>
          <source
            srcset="
              ./images/speakers-images/webp/choc-desktop.webp 1x,
              ./images/speakers-images/webp/choc-desktop2x.webp 2x
            "
            media="(min-width: 1280px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/speakers-images/choc-desktop.png 1x,
              ./images/speakers-images/choc-desktop2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/speakers-images/webp/choc-tablet.webp 1x,
              ./images/speakers-images/webp/choc-tablet2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/speakers-images/choc-tablet.png 1x,
              ./images/speakers-images/choc-tablet2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/speakers-images/webp/choc-mobile.webp 1x,
              ./images/speakers-images/webp/choc-mobile2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/speakers-images/choc-mobile.png 1x,
              ./images/speakers-images/choc-mobile2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="speakers-list__image"
            src="./images/speakers-images/choc-mobile.png"
            alt="photo Evelyn Miller"
          />
        </picture>
        <h3 class="speakers-list__title">Evelyn Miller</h3>
        <p class="speakers-list__text">Master- chocolatier in Spain</p>
      </li>
    </ul>
  </div>
</section>
