.button {
  padding: 9px 35px;
  border-radius: 25px;
  background-color: $accent-pink-color;
  box-shadow: 10px 15px 25px rgba(232, 183, 183, 0.45);
  border-radius: 25px;
  border: 1px solid $accent-pink-color;
  color: $white-color;
  font-size: $font-sz-18;
  line-height: 1.2;
  width: 145px;

  &:hover,
  &:focus {
    background-color: $white-color;
    color: $accent-pink-color;
    filter: drop-shadow(10px 15px 25px rgba(232, 183, 183, 0.45));
  }
  &:active {
    box-shadow: inset 0px 4px 4px rgba(107, 66, 66, 0.25);
    filter: drop-shadow(10px 15px 25px rgba(232, 183, 183, 0.45));
    background-color: $accent-pink-color;
    color: $white-color;
    border: 1px solid $white-color;
  }
}
