.button-scroll {
  background-image: url('../images/reviews-img/double-arrow-top-icon.svg');
  background-color: transparent;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  position: fixed;
  bottom: 100px;
  right: 30px;
  opacity: 0;
  transition: opacity 400ms linear;

  // animation-name: 'play_down';
  animation-name: 'play_top';
  animation-duration: 1s;
  animation-iteration-count: infinite;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  border-radius: 50%;
  border: none;
}

.btn-style {
  opacity: 1;
}

@keyframes play_top {
  0% {
    -webkit-box-shadow: 0 0 rgba(233, 43, 148, 0.256);
    -moz-box-shadow: 0 0 rgba(241, 27, 155, 0.447);
    box-shadow: 0 0 rgba(236, 65, 170, 0.73);
  }
  to {
    -webkit-box-shadow: 0 0 0 20px rgba(241, 130, 178, 0);
    -moz-box-shadow: 0 0 0 20px rgba(234, 128, 188, 0);
    box-shadow: 0 0 0 20px rgba(240, 83, 175, 0);
  }
}
