.about-us {
  position: relative;

  &::before {
    @media screen and (max-width: 767px) {
      content: '';
      width: 17px;
      height: 40px;
      background-image: url('../images/images-about/ellipse/ellipse-content-left-part-mobile.svg');
      position: absolute;
      top: 1483px;
      left: 0;
    }
  }

  &::after {
    @media screen and (max-width: 767px) {
      content: '';
      width: 22px;
      height: 50px;
      background-image: url('../images/images-about/ellipse/ellipse-list-part-mobile.svg');
      position: absolute;
      top: 990px;
      left: 0;
      z-index: -1;
    }
  }

  @media screen and (max-width: 767px) {
    padding-top: 20px;
    padding-bottom: 28px;
  }

  @media screen and (min-width: $breakpoint-tablet) {
    padding-top: 29px;
    padding-bottom: 36px;
  }

  @media screen and (min-width: $breakpoint-decktop) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &__title {
    font-family: 'Montserrat Alternates';
    color: $main-color;
    font-weight: $font-w-500;
    position: relative;

    @media screen and (max-width: 767px) {
      font-size: 24px;
      line-height: 1.2;

      text-align: center;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 8px;
      display: block;
      max-width: 280px;
    }

    @media screen and (min-width: $breakpoint-tablet) {
      font-size: 32px;
      line-height: 1.21;
      margin-bottom: 28px;
    }

    &::after {
      content: '';
      width: 80px;
      height: 80px;
      background-image: url('../images/images-about/ellipse/ellipse-about.svg');
      position: absolute;
      top: 11px;
      left: 194px;

      @media screen and (min-width: $breakpoint-tablet) {
        top: 62px;
        left: 85px;
      }

      @media screen and (min-width: $breakpoint-decktop) {
        width: 100px;
        height: 100px;
        top: 46px;
        left: 130px;
        background-size: contain;
      }
    }
  }

  &__text-wrapper {
    @media screen and (min-width: $breakpoint-tablet) {
      max-width: 337px;
    }
    @media screen and (min-width: $breakpoint-decktop) {
      max-width: 608px;
    }
  }

  &__text {
    font-family: 'Montserrat';
    color: $main-color;
    font-size: $font-sz-16;
    font-weight: 400;
    line-height: 1.25;

    margin: 0 auto;
    margin-bottom: 25px;

    @media screen and (min-width: $breakpoint-decktop) {
      font-size: $font-sz-18;
      line-height: 1.22;
    }
  }

  &__text--indent {
    font-family: 'Montserrat';
    color: $main-color;
    font-size: $font-sz-16;
    font-weight: 400;
    line-height: 1.25;

    margin: 0 auto;

    @media screen and (max-width: 767px) {
      margin-bottom: 16px;
    }

    @media screen and (min-width: $breakpoint-tablet) {
      margin-bottom: 25px;
    }

    @media screen and (min-width: $breakpoint-decktop) {
      font-size: $font-sz-18;
      line-height: 1.22;
    }
  }

  &__text--more {
    @media screen and (min-width: $breakpoint-decktop) {
      display: block;
      width: 392px;
      font-weight: 400;
      font-size: $font-sz-18;
      line-height: 1.22;
    }

    &.is-hidden {
      @media screen and (min-width: $breakpoint-decktop) {
        display: inline;
      }
    }
  }

  &__image-wrapper {
    @media screen and (max-width: 767px) {
      margin: 0 auto;
      margin-bottom: 28px;
    }

    @media screen and (min-width: $breakpoint-tablet) {
      margin-right: 31px;
    }
  }

  &__image {
    @media screen and (max-width: 767px) {
      min-width: 100%;
    }
  }

  &__button {
    font-family: 'Montserrat';
    color: $main-color;
    font-weight: $font-w-500;
    background-color: inherit;
    border: none;
    padding: 0;

    @media screen and (max-width: 767px) {
      font-size: $font-sz-16;
      line-height: 1.25;

      display: inline-block;
    }

    @media screen and (min-width: $breakpoint-tablet) {
      font-size: $font-sz-18;
      line-height: 1.22;
    }

    @media screen and (min-width: $breakpoint-decktop) {
      display: none;
    }

    &--close {
      font-family: 'Montserrat';
      color: $main-color;
      font-weight: $font-w-500;
      background-color: inherit;
      margin-top: 15px;
      border: none;
      padding: 0;

      @media screen and (max-width: 767px) {
        font-size: $font-sz-16;
        line-height: 1.25;

        display: inline-block;
      }

      @media screen and (min-width: $breakpoint-tablet) {
        font-size: $font-sz-18;
        line-height: 1.22;
      }

      @media screen and (min-width: $breakpoint-decktop) {
        display: none;
      }
    }
  }
}

.flex-container {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  @media screen and (min-width: $breakpoint-tablet) {
    display: flex;
    flex-wrap: nowrap;
  }
}

.is-hidden {
  display: none;
}
