.footer {
  position: relative;
  width: 100%;
  padding-top: 14px;
  padding-bottom: 50px;
  margin: 0 auto;

  @media screen and (max-width: 767px) {
    &::after {
      display: block;
      content: '';
      position: absolute;
      width: 60px;
      height: 40px;
      bottom: 50%;
      left: 50%;
      transform: translate(-40%, 130%);
      background-image: url('../images/registration-img/colorful-and-tasty-mob1x.png');

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('../images/registration-img/colorful-and-tasty-mob@2x.png');
        background-size: cover;
      }
    }
  }
  @media screen and (min-width: 768px) {
    padding-top: 0px;
    padding-bottom: 80px;
  }
  @media screen and (min-width: 1280px) {
    padding-bottom: 100px;
  }
}

.footer .socials {
  position: relative;
  margin: 0 auto;
  margin-bottom: 40px;
  // top: 0;
  // left: 50%;
  // transform: translateX(-50%);

  @media screen and (max-width: 767px) {
    &:after {
      display: block;
      content: '';

      position: absolute;
      width: 70px;
      height: 70px;
      top: -150%;
      left: 150%;
      z-index: -1;

      background-image: url('../images/registration-img/Decor1.svg');
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-bottom: 80px;
    &:after {
      display: block;
      content: '';

      position: absolute;
      width: 100px;
      height: 100px;
      top: -33px;
      left: -270px;
      z-index: -1;

      background-image: url('../images/registration-img/decor-tab-100.svg');
    }
    &::before {
      display: block;
      content: '';

      position: absolute;
      width: 20px;
      height: 20px;
      top: 13;
      left: 154;
      z-index: -1;

      background-image: url('../images/registration-img/decor-tab-20.svg');
    }
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 100px;
    &:after {
      display: block;
      content: '';

      position: absolute;
      width: 100px;
      height: 100px;
      top: 0;
      left: 534px;
      transform: translateY(-50%);
      z-index: -1;

      background-image: url('../images/registration-img/decor-desk-100f.svg');
    }
    &::before {
      display: block;
      content: '';

      position: absolute;
      width: 100px;
      height: 100px;
      top: 80px;
      left: -480px;
      transform: translateY(-50%);
      z-index: -1;

      background-image: url('../images/registration-img/decor-desk-100.svg');
    }
  }
}

.footer-list {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .footer__icon {
    display: none;
  }
}

.footer__contact-link {
  line-height: 1.25;
  color: $title-color;
}
