.footer{
    position: relative;
    width: 100%;
    padding: 20px 20px 50px 20px;
    max-width: 480px;
    margin: 0 auto;
}

.footer-list{
    display: flex;
    justify-content: space-between;
}

.footer-photo {
    margin: 0 auto;
}

 @media screen and (min-width: 768px) {
    .footer__icon{
        display: none;
    }
    .footer-photo {
        position: absolute;
        bottom: 532px;
        left: -80px;
    }
 }
 .footer__contact-link{
    line-height: 1.25;
    color: $title-color;
 }