.price-section {
  padding-bottom: 20px;
  @media screen and (min-width: 768px) {
    padding-bottom: 40px;
  }
}

.section__title--price {
  font-family: 'Montserrat Alternates';
  margin-bottom: 27px;
  text-align: center;
  @media screen and (min-width: 768px) {
    margin-bottom: 31px;
  }
}

.card-grid {
  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: start;
    grid-auto-rows: auto;
  }
}

.card {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  background-color: $price-bckg;
  border-radius: 25px;
  padding-bottom: 20px;
  padding-top: 18px;
  @media screen and (min-width: 480px) {
    max-width: 450px;
  }
  @media screen and (min-width: 768px) {
    max-width: 225px;
    height: 100%;
    align-content: space-between;
  }

  box-shadow: 10px 15px 25px rgba(210, 201, 201, 0.45);
  &:not(:last-child) {
    margin-bottom: 24px;
  }

  &__meta-wrapper {
    padding-left: 40px;
    padding-right: 18px;
    @media screen and (min-width: 768px) {
      padding-right: 10px;
    }
  }

  &__list {
    margin-bottom: 31px;
  }

  &__title {
    font-family: 'Montserrat Alternates';
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.37;
    margin-bottom: 18px;
    @media screen and (min-width: 768px) {
      margin-bottom: 17px;
      max-width: 189px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__item {
    position: relative;
    max-width: 220px;
    font-size: 18px;
    line-height: 1.22;
    &:not(:last-child) {
      margin-bottom: 12px;
    }
    @media screen and (min-width: 320px) {
      margin-left: auto;
      margin-right: auto;
    }
    @media screen and (min-width: 768px) {
      font-size: 16px;
      line-height: 1.25;
      max-width: 200px;
    }
  }

  &__item:before {
    content: '';
    background-image: url('../images/hat.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
    left: -32px;
  }

  &__button {
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 768px) {
      justify-content: flex-end;
    }
  }
}
