.price-section {
  padding-bottom: 20px;
  @media screen and (min-width: $breakpoint-tablet) {
    padding-bottom: 40px;
  }
}

.section__title--price {
  font-family: 'Montserrat Alternates';
  margin-bottom: 27px;
  text-align: center;
  padding-top: 19px;
  @media screen and (max-width: ($breakpoint-tablet - 1px)) {
    position: relative;
    &::before {
      display: block;
      content: '';
      background-image: url('../images/price-img/svg/mobile-middle.svg');
      position: absolute;
      width: 32px;
      height: 32px;
      top: 411px;
      left: -16px;
      z-index: -5;
    }
    &::after {
      display: block;
      content: '';
      background-image: url('../images/price-img/svg/mobile-top.svg');
      position: absolute;
      width: 50px;
      height: 50px;
      right: 0px;
      top: 12px;
      z-index: -5;
    }
  }
  @media screen and (min-width: $breakpoint-tablet) {
    margin-bottom: 31px;
    font-weight: 500;
    font-size: 32px;
    line-height: 1, 21;
    padding-top: 39px;
    @media screen and (min-width: $breakpoint-tablet) and (max-width: 1279px) {
      position: relative;
      &::before {
        display: block;
        content: '';
        background-image: url('../images/price-img/svg/tab-grey.svg');
        position: absolute;
        width: 100px;
        height: 100px;
        top: 33px;
        right: 28px;
        z-index: -5;
      }
      &::after {
        display: block;
        content: '';
        background-image: url('../images/price-img/svg/tab-pink.svg');
        position: absolute;
        width: 100px;
        height: 100px;
        top: 255px;
        right: 648px;
        z-index: -5;
      }
    }
  }
  @media screen and (min-width: $breakpoint-decktop) {
    margin-bottom: 27px;
    padding-top: 50px;
    position: relative;
    &::before {
      display: block;
      content: '';
      background-image: url('../images/price-img/svg/desk-before.svg');
      position: absolute;
      width: 80px;
      height: 80px;
      top: 33px;
      right: 28px;
      z-index: -5;
    }
    &::after {
      display: block;
      content: '';
      background-image: url('../images/price-img/svg/desk-after.svg');
      position: absolute;
      width: 80px;
      height: 80px;
      top: 670px;
      right: 818px;
      z-index: -5;
    }
  }
}

.services {
  @media screen and (min-width: $breakpoint-tablet) {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: start;
    grid-auto-rows: auto;
  }
}

.card {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  background-color: $price-bckg;
  border-radius: 25px;
  padding-bottom: 20px;
  padding-top: 18px;
  &:nth-child(even) {
    border: 1px solid #f3848c;
  }
  &:hover,
  &:focus {
    cursor: pointer;
    transition-property: box-shadow transform;
    transition-duration: 0.3s;
    transition-delay: 0s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transform: scale(1.03);
    box-shadow: 0 0 5px 3px rgb(243 132 140 / 42%);
  }

  background-size: 200px 145px;
  background-repeat: no-repeat;
  background-position: left 50% bottom 102px;
  background-image: url('../images/price-img/donuts-mob1.png');
  background-image: url('../images/price-img/webp/donuts-mob1.webp');

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url('../images/price-img/donuts-mobile2.png');
    background-image: url('../images/price-img/webp/donuts-mobile2.webp');
  }

  @media screen and (min-width: $breakpoint-mobile) {
    max-width: 450px;
  }
  @media screen and (min-width: $breakpoint-tablet) {
    max-width: 225px;
    height: 100%;
    align-content: space-between;
    background-position: left 50% bottom 102px;
    background-image: url('../images/price-img/donuts-table1.png');
    background-image: url('../images/price-img/webp/donuts-table1.webp');
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/price-img/donuts-tablet2.png');
      background-image: url('../images/price-img/webp/donuts-tablet2.webp');
    }
  }
  @media screen and (min-width: $breakpoint-decktop) {
    max-width: 395px;
    padding-top: 28px;
    padding-bottom: 40px;
    &:not(:last-child) {
      margin-right: 32px;
    }
    background-position: left 50% bottom 102px;
    background-image: url('../images/price-img/donuts-desk1.png');
    background-image: url('../images/price-img/webp/donuts-desk1.webp');
    background-size: 300px 218px;
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/price-img/donuts-desk2.png');
      background-image: url('../images/price-img/webp/donuts-desk2.webp');
    }
  }

  box-shadow: 10px 15px 25px rgba(210, 201, 201, 0.45);
  &:not(:last-child) {
    margin-bottom: 24px;
  }

  &__meta-wrapper {
    padding-left: 40px;
    padding-right: 18px;
    @media screen and (min-width: $breakpoint-tablet) {
      padding-right: 10px;
    }
    @media screen and (min-width: $breakpoint-decktop) {
      padding-left: 50px;
    }
  }

  &__list {
    margin-bottom: 31px;
    @media screen and (min-width: $breakpoint-decktop) {
      margin-bottom: 40px;
    }
  }

  &__title {
    font-family: 'Montserrat Alternates';
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.37;
    margin-bottom: 18px;
    max-width: 212px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: $breakpoint-tablet) {
      margin-bottom: 17px;
      max-width: 189px;
      margin-left: auto;
      margin-right: auto;
    }

    @media screen and (min-width: $breakpoint-decktop) {
      margin-bottom: 40px;
      font-size: 20px;
      line-height: 1.2;
      max-width: none;
    }
  }

  &__title--circle {
    @media screen and (max-width: 767px) {
      position: relative;
      &::before {
        display: block;
        content: '';
        background-image: url('../images/price-img/svg/mob-middle-small.svg');
        position: absolute;
        width: 20px;
        height: 20px;
        top: 15px;
        right: -54px;
        z-index: -5;
      }
      &::after {
        display: block;
        content: '';
        background-image: url('../images/price-img/svg/mobile-last.svg');
        position: absolute;
        width: 40px;
        height: 40px;
        top: 485px;
        right: -48px;
        z-index: -5;
      }
    }
    @media screen and (min-width: $breakpoint-tablet) and (max-width: 1280px) {
      position: relative;
      &::after {
        display: block;
        content: '';
        background-image: url('../images/price-img/svg/tab-pink-bottom.svg');
        position: absolute;
        width: 100px;
        height: 100px;
        top: 520px;
        right: 14px;
        z-index: -5;
      }
    }
  }

  &__item {
    position: relative;
    max-width: 220px;
    font-size: 18px;
    line-height: 1.22;
    &:not(:last-child) {
      margin-bottom: 12px;
    }
    @media screen and (min-width: 320px) {
      margin-left: auto;
      margin-right: auto;
    }
    @media screen and (min-width: $breakpoint-tablet) {
      font-size: 16px;
      line-height: 1.25;
      max-width: 200px;
    }
    @media screen and (min-width: $breakpoint-decktop) {
      margin-left: 0;
      max-width: 329px;
      font-size: 18px;
      line-height: 1.22;
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }

  &__item:before {
    content: '';
    background-image: url('../images/hat.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
    left: -32px;
  }

  &__button {
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: $breakpoint-tablet) {
      justify-content: flex-end;
    }
  }
}
