.card {
  display: grid;
  border: 1px solid black;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-gap: 24px;
  padding: 20px;
}

.card__item {
  position: relative;
}
.card__item:before {
  content: '';
  background-image: url('../images/hat.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  left: -20px;
}
