.registration {
  position: relative;
  padding-bottom: 20px;
  padding-top: 20px;

  @media screen and (max-width: 767px) {
    &:after {
      display: block;
      content: '';

      position: absolute;
      width: 70px;
      height: 70px;
      top: 20px;
      right: 10px;
      z-index: -1;

      background-image: url('../images/registration-img/Decor1.svg');
    }
  }

  @media screen and (min-width: 768px) {
    padding-top: 40px;
    padding-bottom: 34px;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      &::before {
        display: block;
        content: '';

        position: absolute;
        width: 40px;
        height: 40px;
        top: 0;
        left: 131px;
        z-index: -1;

        background-image: url('../images/registration-img/decore-tab-40.svg');
      }
    }
  }
  @media screen and (min-width: 1280px) {
    padding-top: 50px;
    padding-left: 123px;
    padding-right: 123px;
    padding-bottom: 63px;
  }
}

.registration-container {
  position: relative;
  width: 100%;
  padding: 40px 8px 32px 8px;
  height: auto;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
  background: #f6f7f7;
  box-shadow: 10px 15px 25px rgba(210, 201, 201, 0.45);
  border-radius: 10px;

  background-image: linear-gradient(
      to right,
      rgba(61, 44, 44, 0.6),
      rgba(61, 44, 44, 0.6)
    ),
    url('../images/registration-img/topping-on-strawberry-mob1x.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(61, 44, 44, 0.6),
        rgba(61, 44, 44, 0.6)
      ),
      url('../images/registration-img/topping-on-strawberry-mob@2x.png');
  }

  @media screen and (min-width: 768px) {
    max-width: 704px;
    height: 246px;

    display: flex;
    align-items: center;

    padding: 0 40px 0 62px;

    background-image: url('../images/registration-img/Rectangle-tab1x.png'),
      url('../images/registration-img/topping-on-strawberry-tab1x.png');
    background-position: left, right;
    background-repeat: no-repeat;
    background-size: 563px, 453px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/registration-img/Rectangle-tab@2x.png'),
        url('../images/registration-img/topping-on-strawberry-tab2x.png');
    }

    &::after {
      display: block;
      content: '';
      position: absolute;
      width: 100px;
      height: 67px;
      bottom: 20px;
      left: 23px;
      background-image: url('../images/registration-img/colorful-and-tasty-tab1x.png');
      
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url("../images/registration-img/colorful-and-tasty-tab@2x.png");
        background-size: cover;
        }
    }
  }

  @media screen and (min-width: 1280px) {
    background-image: url('../images/registration-img/Rectangle-desk1x.png'),
      url('../images/registration-img/topping-on-strawberry-desk1x.png');
    background-position: left, right;
    background-repeat: no-repeat;
    background-size: 972px, 453px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/registration-img/Rectangle-desk@2x.png'),
        url('../images/registration-img/topping-on-strawberry-desk@2x.png');
    }

    max-width: 1023px;
    height: 246px;
    display: flex;
    align-items: center;
    padding: 0 232px 0 213px;

    &::after {
      display: block;
      content: '';
      position: absolute;
      width: 200px;
      height: 133px;
      bottom: 16px;
      left: 15px;
      background-image: url('../images/registration-img/colorful-and-tasty-desk1x.png');
      
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url("../images/registration-img/colorful-and-tasty-desk@2x.png");
      background-size: cover;  
      }
    }
  }

  @media screen and (min-width: 1280px) {
    &::before {
      display: block;
      content: '';

      position: absolute;
      width: 100px;
      height: 100px;
      top: 170px;
      left: -62px;
      z-index: -1;

      background-image: url('../images/registration-img/decor-desk-100h.svg');
      background-repeat: no-repeat;
    }
  }
}

.registration__title {
  margin-bottom: 27px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.21;
  text-align: center;
  color: #2e2520;
  @media screen and (min-width: 1280px) {
    margin-bottom: 28px;
  }

  @media screen and (min-width: 1280px) {
    &::before {
      display: block;
      content: '';

      position: absolute;
      width: 100px;
      height: 100px;
      top: 160px;
      right: 33px;
      z-index: -1;

      background-image: url('../images/registration-img/decor-desk-100hf.svg');
    }
  }
}

.registration-container__data {
  position: relative;
  display: block;
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: $white-color;

  @media screen and (min-width: 768px) {
    color: #000000;
    max-width: 90px;
    text-align: right;
    margin-bottom: 0;
  }
  @media screen and (min-width: 1280px) {
    color: #000000;
    min-width: 127px;
    text-align: right;
    margin-bottom: 0;
  }
}

.registration-container__text {
  height: 48px;
  margin-bottom: 20px;
  line-height: 1.25;
  color: $white-color;

  @media screen and (min-width: 768px) {
    color: #000000;
    text-align: left;
    margin-bottom: 16px;
    width: 202px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 24px;
    width: 252px;
    font-size: 20px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 767px) {
  .registration-container__data::after {
    position: absolute;
    width: 100%;
    display: block;
    content: '';
    display: inline-block;
    left: 0px;
    top: 60px;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 1);
  }
}

.registration-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  color: $white-color;

  @media screen and (min-width: 768px) {
    padding-top: 40px;

    position: relative;
    width: 237px;
    margin-left: 56px;
    margin-right: 74px;

    &:after {
      position: absolute;
      width: 154px;
      rotate: 90deg;
      display: block;
      content: '';
      display: inline-block;
      left: -104px;
      top: 50%;
      border: 1px solid rgba(0, 0, 0, 0.5);
    }
  }

  @media screen and (min-width: 1280px) {
    max-width: 267px;
    margin-right: 0px;
  }
}

.registration-form__input {
  width: 100%;
  height: 20px;
  margin-bottom: 22px;
  padding-bottom: 2px;
  font-size: 16px;
  line-height: 1.25;
  border: none;
  border-bottom: 1px solid #ffffff;
  color: $white-color;
  outline: none;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    width: 237px;
    margin-bottom: 16px;
    line-height: 1.25;
    color: $title-color;
    border-bottom: 1px solid $title-color;
  }
  @media screen and (min-width: 1280px) {
    width: 212px;
    margin-bottom: 14px;
    border-bottom: 1px solid $title-color;
  }
}

.registration-form__input:last-child {
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    margin-bottom: 52px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 40px;
  }
}

.registration-form__button {
  display: block;
  height: 40px;
  margin: 0 auto;
}

.registration-form__input:invalid {
  border-bottom: 2px solid red;
}

.registration-form__input:valid {
  border-bottom: 2px solid green;
}

.registration-form__input:not(:focus):invalid {
  border-bottom: 1px solid $white-color;

  @media screen and (min-width: 768px) {
    border-bottom: 1px solid $title-color;
  }
}
