.speakers-list {
  // text-align: center;
  // list-style: none;
  // @media (max-width: 768px) {
  //   display: flex;
  //   flex-wrap: wrap;
  //   margin: -10px;
  // }

  // @media (min-width: $breakpoint-tablet) {
  //   display: flex;
  //   flex-wrap: no-wrap;
  // }

  // @media (min-width: $breakpoint-decktop) {
  //   display: flex;

  //   margin-left: auto;
  //   margin-right: auto;

  //   align-items: center;
  // }

  text-align: center;
  list-style: none;

  @media (max-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  @media (min-width: $breakpoint-tablet) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 32px;
  }

  @media (min-width: $breakpoint-decktop) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 32px;
  }
}

.speakers-list__item {
  &:hover,
  &:focus {
    transition-property: box-shadow transform;
    transition-duration: 0.3s;
    transition-delay: 0s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transform: scale(1.03);
  }
}
//   @media (max-width: 768px) {
//     width: calc((100% - 40px) / 2);
//     margin: 10px;
//   }
//   @media (min-width: 769px) {
//     width: calc((100% - 96px) / 4);
//     &:not(:last-child) {
//       margin-right: 32px;
//     }
//   }

//   @media (min-width: 1200px) {
//     width: calc((100% - 96px) / 4);
//     &:not(:last-child) {
//       margin-right: 32px;
//     }
//   }
// }

.speakers-list__text {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  font-weight: 500;
  font-size: 12px;
  line-height: 15px;

  text-align: center;

  @media screen and (min-width: 480px) {
    width: 130px;
  }

  @media screen and (min-width: $breakpoint-tablet) {
    width: 152px;
    font-size: 14px;
  }

  @media screen and (min-width: $breakpoint-decktop) {
    width: 181px;
    font-size: 16px;
  }
}

.speakers-section__title {
  margin-bottom: 12px;
  text-align: center;

  font-family: 'Montserrat Alternates';
  font-size: 24px;
  line-height: 1.21;
  font-weight: $font-w-500;

  &::before {
    display: block;
    content: '';

    width: 27px;
    height: 40px;

    position: absolute;

    top: 33px;
    right: 0px;
    background-repeat: no-repeat;

    background-image: url('../images/speakers-images/svg/mobile_left.svg');
  }

  @media screen and (min-width: $breakpoint-tablet) {
    margin-bottom: 20px;

    font-size: 32px;
    line-height: 1.21;

    &::before {
      display: block;
      content: '';

      width: 27px;
      height: 50px;

      position: absolute;

      top: 21px;
      right: 0px;
      background-repeat: no-repeat;

      background-image: url('../images/speakers-images/svg/tabl-half-right.svg');
    }
    &::after {
      display: block;
      content: '';

      width: 23px;
      height: 40px;

      position: absolute;

      top: 79px;
      left: 0px;
      background-repeat: no-repeat;

      background-image: url('../images/speakers-images/svg/tabl-half-left.svg');
    }
  }

  @media screen and (min-width: $breakpoint-decktop) {
    margin-bottom: 2px;

    &::before {
      display: block;
      content: '';

      width: 61px;
      height: 100px;

      position: absolute;

      top: 21px;
      right: 0px;
      background-repeat: no-repeat;

      background-image: url('../images/speakers-images/svg/dt_half-right.svg');
    }
    &::after {
      display: none;
      content: '';

      width: 23px;
      height: 40px;

      position: absolute;

      top: 79px;
      left: 0px;
      background-repeat: no-repeat;

      background-image: url('../images/speakers-images/svg/tabl-half-left.svg');
    }
  }
}

.speakers-list__title {
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;

  @media screen and (min-width: $breakpoint-tablet) {
    font-weight: $font-w-600;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
  }
  @media screen and (min-width: $breakpoint-decktop) {
  }
}

.speakers-list__image {
  width: 131px;
  height: 141px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;

  @media screen and (min-width: $breakpoint-tablet) {
    margin-bottom: 20px;
    width: 152px;
    height: 160px;
  }
  @media screen and (min-width: $breakpoint-decktop) {
    margin-bottom: 20px;
    width: 288px;
    height: 305px;
  }
}

.section--ring-position {
  padding-top: 18px;
  padding-bottom: 16px;

  position: relative;

  @media screen and (min-width: $breakpoint-tablet) {
    padding-top: 12px;
    padding-bottom: 38px;
  }
  @media screen and (min-width: $breakpoint-decktop) {
    padding-top: 59px;
    padding-bottom: 43px;
  }
}

.speakers-list__image--ring-position {
  position: relative;
  &::after {
    display: block;
    content: '';

    width: 16px;
    height: 16px;

    position: absolute;

    bottom: 74px;
    right: 25px;
    background-repeat: no-repeat;

    background-image: url('../images/speakers-images/svg/mobile_sm.svg');
  }
  @media screen and (min-width: $breakpoint-tablet) {
    &::after {
      display: none;
    }
  }
  @media screen and (min-width: $breakpoint-decktop) {
    &::after {
      display: none;
    }
  }
}

.speakers-list__image--second-ring-position {
  position: relative;
  &::after {
    display: block;
    content: '';

    width: 16px;
    height: 16px;

    position: absolute;

    bottom: 74px;
    right: 35px;
    background-repeat: no-repeat;

    background-image: url('../images/speakers-images/svg/mobile_sm.svg');
  }
  @media screen and (min-width: $breakpoint-tablet) {
    &::after {
      display: block;
      content: '';

      width: 40px;
      height: 40px;

      position: absolute;

      top: -42px;
      right: -41px;
      background-repeat: no-repeat;

      background-image: url('../images/speakers-images/svg/tabl_left40.svg');
    }
    &::before {
      display: block;
      content: '';

      width: 32px;
      height: 32px;

      position: absolute;

      top: -67px;
      left: 45px;
      background-repeat: no-repeat;

      background-image: url('../images/speakers-images/svg/mobile_sm.svg');
    }
  }
  @media screen and (min-width: $breakpoint-decktop) {
    &::after {
      display: none;
      content: '';

      width: 16px;
      height: 16px;

      position: absolute;

      bottom: 74px;
      right: 35px;
      background-repeat: no-repeat;

      background-image: url('../images/speakers-images/svg/mobile_sm.svg');
    }
    &::before {
      display: none;
      content: '';

      width: 50px;
      height: 50px;

      position: absolute;

      top: -67px;
      left: 45px;
      background-repeat: no-repeat;

      background-image: url('../images/speakers-images/svg/mobile_sm.svg');
    }
  }
}

.speakers-list__image--third-ring-position {
  position: relative;
  @media screen and (min-width: $breakpoint-tablet) {
    &::before {
      display: block;
      content: '';

      width: 50px;
      height: 50px;

      position: absolute;

      top: -75px;
      left: 20px;
      background-repeat: no-repeat;

      background-image: url('../images/speakers-images/svg/tabl_title50.svg');
    }
  }

  @media screen and (min-width: $breakpoint-decktop) {
    &::before {
      display: block;
      content: '';

      width: 50px;
      height: 50px;

      position: absolute;

      top: -50px;
      left: 20px;
      background-repeat: no-repeat;

      background-image: url('../images/speakers-images/svg/tabl_title50.svg');
    }
  }
}
